@import "tailwindcss";

@theme {
  --color-darkest-blue: #10141e;
  --color-dark-blue: #161d2f;
  --color-light-blue: #5a698f;
  --color-red-500: #fc4747;

  --breakpoint-sm: 23.4375rem; /* 375px */
  --breakpoint-md: 46.4375rem; /* 743px */
  --breakpoint-lg: 90rem; /* 1440px */
}

body {
  background: var(--color-darkest-blue);
  font-family: Arial, Helvetica, sans-serif;
}

/* * {
	outline: 1px dashed red !important;
} */
